.my_work-text {
	text-align: center;
}
.my_work-text h2{
	color: var(--blue);
	font-size: 46px;
	font-weight: 800;
	text-transform: uppercase;
	padding-bottom: 20px;
	padding-top: 85px;
}
.my_work-text p {
	color: var(--grey_2);
	padding-bottom: 50px;
}
.my_work-photos {
	display: flex;
 	align-items: center;
  	flex-wrap: wrap;
}
.block-photos {
	flex-basis: 25%;
 	position: relative;
  	text-decoration: none;
  	color: inherit;
  	overflow: hidden;
}
.block-photos--img {
	width: 100%;
  	height: auto;
  	vertical-align: middle;
}
.block-fronts {
	position: absolute;
	background-color: #02918c;
	width: 90%;
	height: 90%;
	top: 5%;
	left: 5%;
	transform: translate(0, -100%);
	opacity: 0;
	transition: opacity .2s ease-in-out, transform .2s ease-in-out;
}
.block-photos:hover .block-fronts {
	transform: none;
	opacity: 0.8;
}
.my_work--title {
	color: white;
	font-weight: 800;
	padding-bottom: 20px;
	padding-top: 60px;
	text-align: center;
}
.block-fronts p {
	color: white;
	text-align: center;
}
