.logo {
	font-style: 2.6rem;
	text-decoration: none;
	color: var(--white);
	text-transform: uppercase;
	font-weight: 800;
	transition:  color .2s ease-in-out;

}
.logo:hover {
	color: var(--yellow);
}
.logo-emphasis {
	color: var(--yellow);
}
.logo-emphasis:hover {
	color: var(--white);
}